* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

/* 전체 설정*/
body {
  font-size: 18px;
}

.container {
  width: 100%;
}
.box1 {
  width: 100%;
  height: 500px;
  background-color: black;
}
.box2 {
  width: 100%;
  height: auto;
  background-color: white;
}
.box3 {
  width: 100%;
  height: 500px;
  background-color: black;
  margin-top: 50px;
}
.wbox {
  width: 70%;
  margin: 0 auto;
}

/* 상단 메뉴바 설정*/
.mainMenu {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.mainMenu > div {
  color: white;
  margin-top: 30px;
}

.centerMenu {
  padding: 40px;
}

.rightMenu {
  padding: 10px;
}

.mainMenu > div > span:hover {
  color: gray;
}

.title {
  background-color: black;
  font-size: 80px;
  font-weight: bold;
  color: white;
  padding-top: 200px;
}

.subMenu {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
}

.subMenu > div {
  padding: 40px 20px 40px 0px;
}

.subMenu > div:hover {
  color: gray;
}

.logo,
.cartIcon,
.mypageIcon {
  width: 25px;
  height: 25px;
}

/* 연혁 페이지 설정*/

.historyTitle {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 30px;
}

.historyImg {
  background-color: gray;
  height: 600px;
  width: 500px;
  margin: 30px 30px 30px 0px;
}

.historyBox1 {
  display: grid;
  grid-template-columns: 40% 60%;
}

.historyText1 {
  margin: 30px 30px 30px 30px;
}

/* 강사진 페이지 설정*/
.teacherTitle {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  padding: 30px 0px;
  margin-top: 30px;
}

.teacher {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.teacherInfo {
  height: 400px;
  width: 250px;
  margin: 30px;
}

.teacherPicture {
  background-color: rgb(160, 131, 187);
  height: 350px;
  width: 300px;
  overflow: hidden;
}

.teacherPicture img {
  transition: all 0.2s linear;
  width: inherit;
}

.teacherPicture:hover img {
  transform: scale(1.2);
  opacity: 0.5;
}

.teacherName {
  margin: 10px 0px 5px 0px;
}

.teacherSubject {
  margin: 5px 0px 5px 0px;
}

.hidden {
  display: none;
}

/* 강사 프로필 설정 */
.singleTeacherTitle {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  padding: 30px 0px;
  margin-top: 30px;
}

.singleTeacher {
  display: grid;
  grid-template-columns: 40% 60%;
}

.singleTeacher1 {
  background-color: white;
}

.singleTeacher1 img {
  height: 450px;
  width: 400px;
  width: inherit;
}

.singleTeacherText {
  font-size: 10px;
  padding: 50px 50px 30px 0px;
  line-height: 30px;
  margin: 30px 50px 0px 0px;
}

.singleTeacher1 > div {
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}

.singleTeacher2 > div {
  font-size: 20px;
  padding: 0px 50px 30px 0px;
  line-height: 40px;
}

/*수강안내*/

.courseBox,
.detailedBox,
.tasteBox,
.pirceGuideBox {
  font-size: 40px;
  margin: 30px 0px 30px 0px;
  padding: 30px 0px 30px 0px;
  font-weight: bold;
}

.allCourse {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.allCourseClick {
  margin: 20px 0 20px 0;
}

.allCourseClickImg {
  background-color: gray;
  width: 300px;
  height: 300px;
}
.detailedBox2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
}
.detailedBox2Img {
  width: 700px;
  height: 650px;
  background-color: grey;
  margin-bottom: 30px;
}
.detailedBox2Text {
  width: 600px;
  height: 650px;
}
.detailedBox2Text2 {
  width: 100%;
  height: 800px;
}

.tasteCourse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.tasteCourseClick {
  margin: 20px 0 20px 0;
}
.tasteCourseClickAvi {
  background-color: gray;
  width: 500px;
  height: 300px;
}
.coursePriceGuide {
  width: 100%;
  height: 800px;
  border: 1px solid black;
}
.horizontal-line {
  width: 90%;
  height: 2px;
  background-color: #000;
  margin: 40px 800px 5px 80px;
}
#priceGuide1 {
  font-size: 70px;
  margin: 20px 0 10px 100px;
}
#priceGuide2 {
  font-size: 70px;
  margin: 20px 0 10px 100px;
}
.priceGuide3 {
  font-size: 40px;
  margin: 20px 0 0px 100px;
}
.priceGuide4 {
  font-size: 90px;
  margin: 0px 80px 10px 0px;
  font-weight: bold;
  display: flex;
  justify-content: end;
}
#priceGuide5 {
  font-size: 25px;
  margin: 40px 80px 10px 0px;
  display: flex;
  justify-content: end;
}

/* 수강신청 페이지 설정 */

.enrollmentTitle {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  padding: 30px 0px;
  margin-top: 30px;
}

.enrollment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.lectureEnrollInfo {
  height: 70px;
  width: 400px;
}

.lectureEnrollimg {
  background-color: gray;
  height: 400px;
  width: 400px;
}

.lectureEnrollname,
.teacherEnrollname {
  display: inline;
  font-size: 20px;
  padding: 5px 0px 5px 0px;
}

.cartEnrollBtn {
  height: 40px;
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  float: right;
  margin: 5px 0px 5px 0px;
}

/* 나의 진도율 페이지 설정 */

.progressTitle {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  padding: 30px 0px;
  margin-top: 30px;
  border-bottom: 2px solid black;
}

.selectSearchBox {
  display: flex;
  justify-content: center;
}

.selectSubjectBtn {
  height: 50px;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: left;
  line-height: 45px;
  font-size: 20px;
  padding: 0px 10px;
  margin: 30px 10px;
  color: gray;
}

.searchSubjectBtn {
  height: 50px;
  width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: left;
  line-height: 45px;
  font-size: 20px;
  padding: 0px 10px;
  margin: 30px 10px;
  color: gray;
}

.searchIcon {
  height: 50px;
  width: 50px;
  margin: 30px 0px;
  background-color: gray;
}

.progressTitleBox {
  display: flex;
  justify-content: left;
}

.progressSubjectName {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  padding: 30px 0px;
  margin: 30px;
}

.progressSubjectInfo {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  margin: 30px;
}

.progressInfoBox {
  height: 700px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
}

.progressInfo {
  display: flex;
  justify-content: center;
}

.progressInfoSubject {
  font-size: 40px;
  padding: 0px 10px;
  margin: 40px;
  color: black;
  font-weight: bold;
}

.progressInfoGraph {
  height: 50px;
  width: 700px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 40px;
}

.progressInfoGraphColor {
  height: 50px;
  width: 500px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #000;
}

/* 성적확인 페이지 설정 */
.gradeTitle {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  padding: 30px 0px;
  margin-top: 30px;
  border-bottom: 2px solid black;
}

.gradeInfoBox {
  height: 700px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 40px;
}

.gradeSubjectName {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  padding: 30px 0px;
  margin: 30px;
}

.gradeSubjectInfo {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  margin: 30px;
}
