* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

/* 전체 설정*/
body {
  font-size: 18px;
}

.container {
  width: 100%;
}
.box1 {
  width: 100%;
  height: 500px;
  background-color: black;
}
.box2 {
  width: 100%;
  height: auto;
  background-color: white;
}
.box3 {
  width: 100%;
  height: 500px;
  background-color: black;
  margin-top: 50px;
}
.wbox {
  width: 70%;
  margin: 0 auto;
}

/* 상단 메뉴바 설정*/
.mainMenu {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.mainMenu > div {
  color: white;
  margin-top: 30px;
}

.centerMenu {
  padding: 40px;
}

.rightMenu {
  padding: 10px;
}

.mainMenu > div > span:hover {
  color: gray;
}

.title {
  background-color: black;
  font-size: 80px;
  font-weight: bold;
  color: white;
  padding-top: 200px;
}

.subMenu {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
}

.subMenu > div {
  padding: 40px 20px 40px 0px;
}

.subMenu > div:hover {
  color: gray;
}

.logo,
.cartIcon,
.mypageIcon {
  width: 25px;
  height: 25px;
}

/* 연혁 페이지 설정*/

.historyTitle {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 30px;
}

.historyImg {
  background-color: gray;
  height: 600px;
  width: 500px;
  margin: 30px 30px 30px 0px;
}

.historyBox1 {
  display: grid;
  grid-template-columns: 40% 60%;
}

.historyText1 {
  margin: 30px 30px 30px 30px;
}

/* 강사진 페이지 설정*/
.teacherTitle {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  padding: 30px 0px;
  margin-top: 30px;
}

.teacher {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.teacherInfo {
  height: 400px;
  width: 250px;
  margin: 30px;
}

.teacherPicture {
  background-color: rgb(160, 131, 187);
  height: 350px;
  width: 300px;
  overflow: hidden;
}

.teacherPicture img {
  transition: all 0.2s linear;
  width: inherit;
}

.teacherPicture:hover img {
  transform: scale(1.2);
  opacity: 0.5;
}

.teacherName {
  margin: 10px 0px 5px 0px;
}

.teacherSubject {
  margin: 5px 0px 5px 0px;
}

.hidden {
  display: none;
}

/* 강사 프로필 설정 */
.singleTeacherTitle {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  padding: 30px 0px;
  margin-top: 30px;
}

.singleTeacher {
  display: grid;
  grid-template-columns: 40% 60%;
}

.singleTeacher1 {
  background-color: white;
}

.singleTeacher1 img {
  height: 450px;
  width: 400px;
  width: inherit;
}

.singleTeacherText {
  font-size: 10px;
  padding: 50px 50px 30px 0px;
  line-height: 30px;
  margin: 30px 50px 0px 0px;
}

.singleTeacher1 > div {
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}

.singleTeacher2 > div {
  font-size: 20px;
  padding: 0px 50px 30px 0px;
  line-height: 40px;
}
